*{margin: 0; padding: 0; text-decoration: none; list-style: none;}
.fl{float: left;}
.fr{float: right;}
.nav_bar{height: 50px; width: 100%; background-color: #444; font-size: 13px; padding: 5px 0;}
.nav_inner{width: 1400px; height: 50px; margin: 0 auto;}
.logo_bar{padding: 3px 20px 3px 0; float: left; width: 140px; height: 22px;}
.nav_bar .nav_search{margin-top: 16px; float: left;}
.nav .search_box{background-color: #ccc;
                 padding:3px 5px 3px 22px; margin-top: 2px; border-radius: 5px;}
.nav_con{float: right; margin-right: 10px;}
.nav_con li{padding: 5px 15px; float: left; height: 40px;}
.nav_con li a{line-height: 40px; color: #ccc;}
.nav_con li a:hover{color: #fff;}

.main_body{width: 1400px; min-height: 400px; max-height: 2000px; margin: 0 auto; margin-top: 20px;}
.main_box{width: 1095px; min-height: 400px; padding: 5px; background-color: #fff;}
.main_nav ul li {float: left; display: inline-block; padding: 5px; margin: 0 5px; border-radius: 5px;}
.main_nav ul li a{color: #80db01; font-size: 14px;}

.cell{clear:both; font-size: 14px; padding: 10px; position: relative; width: 1075px; height: 25px; line-height: 30px;}
.author_avatar img{width: 30px; height: 30px; border-radius: 3px;}
.reply_box{padding: 0 5px;}
.reply_count{color: #9e78c0;font-size: 15px;}
.topic_title{font-size: 16px; color: #000; display: inline-block; width: 750px; height: 32px; overflow: hidden;
             margin-left: 32px; }
.topic_title:hover{text-decoration: underline;}
.topic_top,.topic_good{display: inline-block; font-size: 12px; background-color: #80bd01; height: 12px; line-height: 12px;
	                   color: #fff; position: absolute; top: 17px;  padding: 2px 2px; border-radius: 2px;}
.topic_share,.topic_ask,.topic_job{display: inline-block; font-size: 12px; background-color: #e5e5e5; height: 12px; line-height: 12px;
	                   color: #999; position: absolute; top: 17px;  padding: 2px 2px; border-radius: 2px;}
.last_reply_time{font-size: 12px; position: absolute; right: 0; top: 12px; font-family: "mircosoft yahei"; color: #ccc;}


