@charset "utf-8";

/*公用*/
.comWidth{width:1000px; margin-left: auto; margin-right: auto;}
.leftArea{float: left;}
.rightArea{float: right;}
.header{margin-bottom: 80px;}
.body{width: 100%; height: 4950px; overflow: hidden;}

/*logo*/
.logoBar{height: 55px; background-color: #222222; line-height: 55px; color: #fff;}
.logo{width: 232px; height: 83px; float: left; margin-top: -3px; position: relative;}
.logo span{z-index: 99; display: none; position: absolute; top: 0px; left: -1px;}
.logo :hover span{display: block;}
.wifi{width: 95px; height: 72px; float: right; margin-top: -3px;}

/*导航栏*/
.nav .home a{background-color: #ff7b01}
.nav  span  {display: inline-block; height: 20px; width: 20px;	
	  background: url( "C:/Users/Administrator/Desktop/youshe/images/icon/icon_h.jpg") no-repeat left top; }
.nav a{color:#333; text-decoration:none;}
.nav li{ float:left;}
.nav li a{ display:block; padding: 0 18px; height:55px; line-height:55px;
           color:#fff; margin-bottom:1px; text-align: center; font-family: "微软雅黑";}
.nav li a:hover{ background-color:#4196E1; color:#fff}

/*左边导航栏*/
.leftNavBox{width: 100%; height: 301px;}
.leftNav li a{ display:block; text-indent:20px; height: 42px; 
              line-height: 42px; width: 159px; color: #fff; border-bottom: #252525 solid 1px; 
              border-right: #252525 solid 1px; font-size: 12px; background-color: #111111; color: #cccccc;}
.leftNav li a:hover{color:#fff;}
.menu_01{position: relative;}
.menu_01 ul{z-index: 99; position: absolute; top: 0px; left: 160px; display: none;}
.menu_02{position: relative;}
.menu_02 ul{z-index: 99; position: absolute; top: 0px; left: 160px; display: none;}
.leftNav li:hover ul{display: block;}
.leftNav li:hover ul{display: block;}

/*广告和标签*/
.ad_01{margin:20px 0;}
.ad_02{margin: 40px 0;}
.ad_04{margin:30px 0;}
.label{background-color: #f3f3f3; width: 100%;}
.label_left{height: 20px; width: 6%; background-color: #e9e9e9; float: left;}
.label_right{height: 20px; line-height:20px; width:94%; color: #999999; 
	         font-size: 12px; font-family: "微软雅黑"; margin-left: 20px;}
.label_c{width: 160px; margin-top: 20px;}
.label_c a{color: #58c3ef; font-family: "微软雅黑"; padding-right: 2px;}
.label_c a:hover{color: #000;}


/*优设推荐*/
.ys_rec{background-color: #f3f3f3; width: 100%;}
.ys_rec_left{height: 25px; width: 6%; background-color: #e9e9e9; float: left;}
.ys_rec_right{height: 25px; line-height:25px; width:94%; color: #999999;
              font-size: 14px; font-family: "微软雅黑"; margin-left: 20px;}
.ys_rec_c{height: 71px; width: 160px; padding: 22px 0; border-bottom: 1px dotted #ccc;}
.c_pic{float: left;}
.c_word{font-size: 12px; color:#000; line-height: 1.5em; margin-left: 60px;}

/*文章存档*/
.arti_li li a{display:block; width:160px; height:30px; line-height:40px; 
              font-size: 12px; color: #cccccc; text-indent: 20px; }
.arti_li li a:hover{color: #000;}


/*banner*/

.banner{height: 375px; width: 780px;}
.banner_big{height: 290px; width: 780px; position: relative; left:0; top:0; overflow: hidden; display:block;}
.banner_big li{float: right;}
.pic_prev{z-index: 20; position: absolute; left: 20px; bottom: 0; opacity: 0.4;}
.pic_next{z-index: 20; position: absolute; right: 0px; bottom: 0; opacity: 0.4;}

.banner_small{height: 70px; width: 780px; margin-top: 15px; }
.banner_small li{float: left; padding-left: 20px; position: relative;}
/*.banner_small li p{height: 70px; width: 110px; display: block; position: relative;}*/
.span_vanish {height: 70px; width: 780px; margin-top: 15px; z-index: 90;}
.span_vanish span{float: left; padding-left: 20px; z-index: 99; height: 70px; width: 110px; background-color: #fff; 
                      position: absolute; top: 0; right: 0; display: block; opacity: 0.7;} 
/*透明度filter:alpha(Opacity=70); -moz-opacity:0.7; -khtml-opacity:0.7;-webkit-opacity:0.7;/*适应各种浏览器*/

.span_vanish {display: none;}


/*右侧主体*/
.maincon{width: 780px;  margin-top: 30px;}
.maincon_l{width:475px;  float: left;}
.maincon_r{width:260px;  float: right;}
.l_arti{background-color: #f3f3f3; width: 475px;}
.l_arti_left{height: 30px; width: 10px; background-color: #e9e9e9; float: left;}
.l_arti_right{height: 30px; line-height:30px; width:465px; color: #999999;
              font-size: 16px; font-family: "微软雅黑"; margin-left: 20px;}

.main_box{width: 470px; height:250px; padding: 25px 0; border-bottom: 1px dotted #ccc}
.main_top a{color: #0da4d3; font-size: 18px; font-family: "微软雅黑";margin-bottom: 5px;display: inline-block;}
.main_top a:hover{color: #000; text-decoration: underline;}
.main_info,.main_info a{font-size: 12px; color: #999999;}
.main_info a:hover{color: #0da4d3;}
.main_pic {width: 470px; height:140px; margin: 18px 0; position: relative;}
.main_text {color: #000; font-size: 12px; font-family: "微软雅黑"; line-height: 1.5em;}

.main_pic a span{z-index:99; width: 100px; height: 24px; position: absolute; bottom: 0; right: 0; color:#fff; 
	background-color: #0da4d3; line-height: 24px; font-size: 12px; font-family: "微软雅黑"; text-indent: 5px;
	 display: none;}
.main_pic a span:hover{background-color: #000;}
.main_pic a:hover span{display: block;}




/*搜索框*/
.searchBox{width: 260px;}
.search_text{float:left; width: 195px; height: 30px; border: 1px solid #ccc; padding: 0 10px; 
	         color: #ccc; font-size: 12px;}
.search_btn{width: 40px; height: 30px; 
            background: url("C:/Users/Administrator/Desktop/youshe/images/icon/sear_01.png") repeat;}
.search_btn:hover{background: url("C:/Users/Administrator/Desktop/youshe/images/icon/sear_02.png") repeat;}

/*选项卡*/

.tab_list{width: 249px; height: 310px; margin-top: 75px; margin-bottom: 20px;
          border: none; overflow: hidden;}
.tab_label{height: 30px; position: relative; background-color: #f2f2f2;}
.tab_label ul{ position: absolute; width: 250px; left: -1px;}
.tab_label li {float: left; width: 83px; height: 30px; font-size: 12px; line-height: 30px;
              text-indent: 15px; overflow: hidden;}
.tab_label li.select {background-color: #fe4800; color: #fff;}
.tab_label li.select a{color: #fff;}
.tab_con_num_01 {background-color: #fe4800; display: inline-block; width: 13px; height: 13px; font-size: 12px;
                      color: #fff; text-align: center; margin:12px 10px 0px 5px; }
.tab_con_num_02 {background-color: #ccc; display: inline-block; width: 13px; height: 13px; font-size: 12px;
                      color: #fff; text-align: center; margin:12px 10px 0px 5px; }
.tab_con_note{display: inline-block; font-size: 12px; color: #ccc; float: right; margin-left: 10px; 
              margin-top: 12px;}
.tab_con .mod ul li a{font-size: 12px; font-family: "微软雅黑"; overflow: hidden; color: #0da4d3;
                      text-indent: 18px;}
.tab_con .mod ul li a:hover{color: #000;}
.tab_con .mod{display: none;}

/*热门文章*/
.hot_arti{width: 100%; height: 210px; margin-top: 20px; margin-bottom: 40px;}
.hot_arti_con li a{font-size: 12px; color: #8a8a8a; line-height: 2em; }
.hot_arti_con li a:hover{color: #000;}
.hot_arti_con span{float: right; font-size: 12px; color: #cfd8db; line-height: 2em;}


.ad_05{width: 100%; height: auto; text-align: center;}

/*微博*/
.link_weibo{width: 100%; height: 500px; margin:35px 0 50px 0; border: 1px solid #ccc; overflow: hidden;}



/*分享*/
.share{width: 255px; height: 325px;  position: fixed; right: -231px; bottom: 100px;}
.sh_hide{width: 230px; height: 325px; display: block; float: right;}
.sh_up{width: 230px; height: 30px; background-color: #f6f6f6; font-size: 16px; line-height: 30px;
       padding-left: 10px;}
.sh_down{width: 230px; height: 30px; background-color: #f6f6f6; 
         font-size: 12px; color: #565656; padding-right: 10px;}
.sh_con{width: 229px; height:240px; font-size: 12px; color: #565656; background-color: #fff;
 padding: 12px; overflow: hidden; border-left: 1px solid #f6f6f6;}
.sh_down a{float: right; text-decoration: underline; line-height: 30px;}
/*.sh_con li{padding-top: 5px;}*/
.sh_con li a{display: inline-block; width: 100px; height: 30px; line-height: 30px;
             float: left; text-indent: 20px; font-family: "微软雅黑";}
.sh_con li a:hover{background-color: #ccc;}
.sh_btn {height: 87px; width: 24px; overflow: hidden; padding-left: -3px; position: absolute; top: 60px; left: 1px; }


/*返回首页*/
.totop a{display: none; width: 40px; height: 37px; position: fixed; right: 112px; 
         bottom: 62px;} 
.totop span{z-index: 99; width:40px; height:37px; position: absolute; top: 0; left: 0; display: none;}
/*小广告*/
.ad_06{width: 100%; height: auto; text-align: center;}
.classfixed{position: fixed; top: 0; left: 370px; display: block; z-index: -2; }

/*footer*/
.up_bg{height: 15px; width: 100%; background-color: #e1e1e1;}
.mid_bg{height: auto; width: 100%; background-color: #353535; overflow: hidden; padding: 20px 0;}
.down_bg{height: 225px; width: 100%; background-color: #000; overflow: hidden;}
.mid_bg_inner{width: 1000px; height:auto; margin: 0 auto; overflow: hidden; position: relative;}
.mid_info_first{width: 228px; height: 245px; float: left; border-right: 1px solid #2d2d2d; padding-right: 20px;}
.mid_info_second,.mid_info_third{width: 209px; height: 245px; float: left; border-right: 1px solid #2d2d2d; 
                                 border-left: 1px solid #3f3f3f; padding: 0 20px;}
.mid_info_fourth{width: 228px; height: 245px; float: left; border-left: 1px solid #3f3f3f; padding-left: 20px;} 
.down_bg_inner{width: 1000px; margin: 0 auto; padding-bottom: 20px; overflow: hidden; position: relative;}

.mid_info_second h3{font-size: 14px;font-family:"微软雅黑"; color: #bebdbd; font-weight: normal; margin-bottom: 20px;}
.mid_info_second  a{display: block; float: left; width: 53px; height: 53px; border: 5px solid #454545; overflow: hidden;
                   margin: 0 5px 5px 0; opacity: 0.4; position: relative;}
                                                  /*遮罩*/
/*.mid_info_second  i{z-index:99; display: block; opacity: 0.7; background-color: #ccc; width: 53px; height: 53px; 
  position: absolute; top: 0; left: 0;}  */

              

